* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.test{
    font-size: large;
}

.mainBG{
    background-color: #1C1C1C;
    padding: 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* header */

.header1font{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.header1font span:first-child {
    padding-right: 50px;
}
.jumbo{  
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
.header2{
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-weight: bold;
    font-size: 14px;
}

.header2UL{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.header2UL li{
    float: left;
    line-height: 100px;
    padding: 0 20px;
}

.blueunderline{
  border-bottom: 3px solid #0282F9;
}

.bluefont{
    color: #0282F9;
}
.padleft40px{
    padding-left: 40px;
}

/* home */

.BlueWhite{
    background-color: #0282F9;
    color: white;
}

.BlueBtn{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: -25px;
    left: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlueBtnMini{
    font-size: 10px;
    font-weight: bold;
    width: 175px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.DivComics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DivComicsSingle{  
    flex-basis: calc(100% / 6);
    padding: 0 5px;
    margin: 20px 0;
}

.ComicsCover{
    width: 175px;
    height: 175px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.container{
    margin: auto;
    width: 100%;
    max-width: 1250px;
}

.none{
    text-decoration: none; 
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueNav{
    padding: 50px;
}
.bluenav2 a img{
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
    vertical-align: middle;
}

.bluenav2 a{
    padding: 10px 35px;
}